
%h1
  About Transboard Project

.content.aboutbody
  Este proyecto ha sido desarrollado por José Manuel Villar Fraga como objetivo del Trabajo de Fin de Carrera del último curso de Ingeniería Técnica Industrial en Informática de Sistemas de la Universidad Oberta de Catalunya, segundo semestre del curso 2011/2012. 

  La aplicación web permite elaborar traducciones colaborativas a partir de un fichero "maestro" de traducción, para diferentes idiomas. La licencia es MIT (código abierto) y el código se puede descargar en los enlaces del pie de página.



