

.container


  =doc.name
  %table{:class => "table table-bordered table-striped"}
    %thead
      %tr
        %th String
        %th Votes

    %tbody
      -doc.lines.each do |line|
        %tr
          %td.line{:id=>line.id}= line.msgid
          %td
        %tr
          %td= line.msgid
          %td

