
%head
  %title Transboard
  %link{ :href=>"/bootstrap/css/bootstrap.min.css", :rel=>"stylesheet"}


%body
  .container
    .header.row(style="min-height:80px;padding-top:20px;padding:bottom:20px,padding-left:20px;")
      .span10
        %a{:href=>"/"}
          %h1 Transboard
      .span2
        .loginFrame(style = "float:right")
          = render_login_logout

    .row
      %ul.nav.nav-tabs
        %li
          %a{:href=>"/dashboard"}
            Dashboard
        %li
          %a{:href=>"/projects"}
            Projects
        %li
          %a{:href=>"/create_new_project"}
            Create new Project

    .body
      = yield

  %script{:type=>"text/javascript", :src=>"/js/jquery-1.7.2.min.js"}
  %script{:type=>"text/javascript", :src=>"/bootstrap/js/bootstrap.min.js"}

