
.content
  %table.table.table-striped.list
    %thead
      %tr
        %th 
        %th Project
        %th Author
    %tbody
      -projects.each do |project|
        %tr.list
          %td.links.center(style="width:140px")
            %a{:href=>"/delete/" + project.id, :name=>"delete", :title=>"Delete"}
              %img.hideme{:src=>"/images/without-shadows/badge-circle-cross-24-ns.png" }

            %a{:href=>"/projectoptions/" + project.id,
              :name=>"projectoptions", :title => "Edit Project Options"}
              %img.hideme{:src=>"/images/without-shadows/page-pencil-24-ns.png"}

            %a{:href=>"/editproject/" + project.id, :name=>"editproject", :title=>"Edit Project"}
              %img.hideme{:src=>"/images/without-shadows/pencil-24-ns.png"}

            %a{:href=>"/download/" + project.id, :name=>"download", :title=>"Download File"}
              %img.hideme{:src=>"/images/without-shadows/badge-circle-direction-down-24-ns.png"}

            %a{:href=>"/askcollaborate/" + project.id, :name=>"/askcollaborate", :title=>"Ask to Collaborate"}
              %img.hideme{:src=>"/images/without-shadows/email-plus-24-ns.png"}

          %td.projectname
            %a{:href=>'/editproject/' + project.id}
              = project.name 
          %td
            =authorNames[project.id] || "Manel Villar"
          


