

.content
  %h3
    Edit Project Options - #{doc.name}

  .d1.collab
    %form.well
      %h4 Settings
      %table
        %tr
          %td
            %label
          %td
         
        %tr
          %td
            %label 
          %td

  .d2.collab
    %form.well
      %h4 Collaborators
      %table
        %tr
          %td
            %label
          %td
         
        %tr
          %td
            %label 
          %td

