
td.projectname {
  cursor:pointer;
}

img.hideme {
  visibility:hidden;
  cursor:pointer;
}


footer {
  border-top:1px solid #E5E5E5;
  margin-top:45px;
  padding:35px 0px 35px 0px;
}

.span6 h3 {
  padding-top: 30px;
}

table.login td {
  padding: 8px; 
}

table.edit {
  margin-top:20px;
}

table.edit tr.line {
  background-color: lightblue;
}

.aboutbody {
  padding-bottom:300px;
}

footer .row {
  padding-top:20px;
}

.center {
  text-align:center !important;
}

.voteLink {
  cursor:pointer;
}


/* login */
form.auth div input {
  min-height:24px;
} 


/* collaborators */
div.collab {
  padding-top: 30px;
}

/* Index Login Form */
div.indexlogin {
  padding-top:50px;
}

input.big {
  height:30px;
}

.username {
  text-align:right;
}


input.editline {
  max-width:800px;
  width: 100%;
  min-height:28px;
}

td.languages {
}

td.links a {
  text-decoration:none;
}


.projectoptionsheader {
  padding-bottom:30px;
}

td.collaborator {
  font-size: 0.9em;
}
